/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
    text-decoration: none;
    color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Свойства для обнуления курсива у address */
address {
    font-style: normal;

}

:root {

    /* Colors */
    --primary-cl: rgb(77, 90, 229);
    --hover-btn-cl: #404BBF;
    --dark-bg-cl: #2E2F42;
    --primary-txt-cl: rgb(67, 68, 85);
    --subtitle-txt-cl: #8E8F99;
    --light-cl: #F4F4FD;
    --white-cl: #ffffff;
    --accent-cl: #E7E9FC;

    /* Flex */
    --indent: 24px;
    --item: 4;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--primary-txt-cl);
    background-color: var(--white-cl)
}

/* Wrapper */

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Section Padding */

.our-features-section,
.we-doing-section,
.our-team {
    padding: 120px 0;
}

/* Button */

.ptimary-btn,
.alternative-btn {
    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;

    cursor: pointer;
}

.ptimary-btn {
    display: block;
    margin: 0 auto;

    padding: 14px 31px;

    color: var(--white-cl);
    background-color: var(--primary-cl);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    border: none;
}

.alternative-btn {
    color: var(--primary-cl);
    background-color: var(--light-cl);

    padding: 12px 24px;

    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.ptimary-btn:hover,
.ptimary-btn:focus {
    background-color: var(--hover-btn-cl);
}

.alternative-btn:hover,
.alternative-btn:focus {
    color: var(--white-cl);
    background-color: var(--hover-btn-cl);  

    border: 1px solid var(--hover-btn-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* title h2-h3 */

.section-title {
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;

    margin-bottom: 72px;

    
}

.sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);

    margin-bottom: 8px;
}

/* Img */

.we-doing-img,
.our-team-img,
.portfolio-img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Header */

.header {
    border-bottom: 1px solid rgba(77, 90, 229, 0.25);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.nav-wrapper {
    display: flex;
    align-items: center;

}

.address {
    margin-right: 0 auto;
}

/* Logo */

.logo {
    display: block;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24 / 18);
    letter-spacing: 0.03em;
    text-decoration: none;

    text-transform: uppercase;
    color: var(--primary-cl);

    margin-right: 76px;
    display: block;
}

.logo .dark-logo {
    color: var(--dark-bg-cl);
}

.logo .light-logo {
    color: var(--light-cl);
}

/* Nav */

.top-nav {
    display: flex;
}

.top-nav-item {
    margin-right: 40px;
}

.top-nav-item:last-child {
    margin-right: 0;
}

.top-nav-link {
    display: block;

    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: calc(24 / 16);
    text-decoration: none;
    color: var(--primary-txt-cl);

    padding: 24px 0;
} 

.contacts {
    display: flex;
    list-style: none;
    line-height: calc(24 / 16);
    align-items: center;
}

.contacts-item a {
    font-style: normal;
    color: var(--primary-txt-cl);
    text-decoration: none; 

    display: block;
    padding: 24px 0;
}

.contacts-item {
    margin-right: 40px;
}

.contacts-item:last-child {
    margin-right: 0;
}

.top-nav-link:hover,
.top-nav-link:focus {
    color: var(--primary-cl);     
}

.contacts-item a:hover,
.contacts-item a:focus {
    color: var(--primary-cl);    
}

/* Hero section */

.hero-section {
    background-color: var(--dark-bg-cl);
}

.hero-title {
    font-size: 56px;
    line-height: calc(60 / 56);
    letter-spacing: 0.02em;
    text-align: center;

    color: var(--white-cl);

    margin-bottom: 48px;
    max-width: 494px;
    margin: 0 auto 48px;
}

.hero-container {
    padding: 188px 0;
}

/* Our features section */

.our-features-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

.our-features-item {
    flex-basis: calc((100% - (var(--item) - 1) * var(--indent)) / var(--item));
    margin-right: var(--indent);
}

.our-features-item:last-child {
    margin-right: 0;
}

.our-features-item p {
    line-height: calc(24 / 16);
}

/* What are we doing */

.we-doing-section {
    padding-top: 0;
}

.we-doing-list {
    --item: 3;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.we-doing-item {
    flex-basis: calc((100% - (var(--item) - 1) * var(--indent)) / var(--item));
    margin-right: var(--indent);
}

.we-doing-item:last-child {
    margin-right: 0;
}

/* Our team */

.our-team {
    background-color: var(--light-cl);
}

.our-team-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.our-team-item {
    background-color: var(--white-cl);
    flex-basis: calc((100% - (var(--item) - 1) * var(--indent)) / var(--item));
    margin-right:  var(--indent);

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.our-team-item:last-child {
    margin-right: 0;
}

.sub-wrap {
    padding: 32px 0;
}

.our-team-item .sub-title {
    text-align: center;
}

.our-team-item p {
    line-height: calc(24 / 16);
    text-align: center;
}

/* Footer */

.footer {
    background-color: var(--dark-bg-cl);
    padding: 100px 0;
}

.footer .logo {
    margin-bottom: 16px;
}

.footer-txt {
    line-height: calc(24 / 16);
    color: var(--accent-cl);
    width: 264px;
}

/* =====================Pornfolio ========================*/
/* ====================================================== */

.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-filter {
    display: flex;
    justify-content: center;
    column-gap: var(--indent);

    margin-bottom: 72px;
}

.portfolio-works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 48px;
}

.portfolio-item {
    --item: 3;

    line-height: calc(24 / 16);

    flex-basis: calc((100% - (var(--item) - 1) * var(--indent)) / var(--item));
    column-gap: var(--indent);
}

.portfolio-discription {
    padding: 32px 16px;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}
